<div class="wrapper">
  <div class="wrapper-title">
      <span>!LO MÁS</span>
      <span>BUSCADO!</span>
  </div>
  <div class="container-fluid wrapper-slider">
      <div class="col-md-3 px-3">
        <div class="content-info text-center">

          <div class="items">
            <div class="content-icons">

                <h3><i class="bx bx-pulse bx-tada"></i></h3>

                <div class="content-text">
                  <h2 class="fw-bold my-2">MESA DE PARTES VIRTUAL</h2>
                  <p>Búsqueda de normatividad emitida por nuestro Municipio</p>
                  <a href="#" class="fw-bold">VER MÁS <i class='bx bxs-right-arrow-circle'></i></a>
                </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 px-3">
        <div class="content-info text-center bg-warning">

          <div class="items">
            <div class="content-icons">

                <h3><i class="bx bxs-medal bx-tada"></i></h3>

                <div class="content-text">
                  <h2 class="fw-bold my-2">TRIBUTOS MUNICIPALES</h2>
                  <p>Información de los Impuestos, pagos y campañas vigentes</p>
                  <a href="#" class="fw-bold">VER MÁS <i class='bx bxs-right-arrow-circle'></i></a>
                </div>

            </div>
          </div>

        </div>
      </div>


      <div class="col-md-3 px-3">
        <div class="content-info text-center bg-info">

          <div class="items">
            <div class="content-icons">

                <h3><i class='bx bx-file bx-tada'></i></h3>

                <div class="content-text">
                  <h2 class="fw-bold my-2">TRÁMITES FRECUENTES</h2>
                  <p>Consulta aquí los requisitos y tasas de trámites frecuentes</p>
                  <a href="#" class="fw-bold">VER MÁS <i class='bx bxs-hand-right'></i></a>
                </div>

            </div>
          </div>

        </div>
      </div>

            <div class="col-md-3 px-3">
        <div class="content-info text-center bg-danger">

          <div class="items">
            <div class="content-icons">

                <h3><i class='bx bxs-id-card bx-tada' ></i></h3>

                <div class="content-text">
                  <h2 class="fw-bold my-2">REGISTRO DE VENTAS</h2>
                  <p>Consulte aqui el registro de visitas a nuestros funcionarios</p>
                  <a href="#" class="fw-bold">VER MÁS <i class='bx bxs-right-arrow-circle'></i></a>
                </div>

            </div>
          </div>

        </div>
      </div>


  </div>
</div>

