<div class="wrapper-history">

    <app-header [title]="'historia'" [rute]="'Ciudad'"></app-header>
    
    <div class="section-history">
        <div class="section-title">
            <span class="title-icon">
                <i class='bx bxs-pin'></i>
            </span>
            <h2>HISTORIA DE BARRANCA</h2>
        </div>
        <div class="section-content">
            <p>
                Siguiendo el desarrollo de la historia, podemos mencionar que los antiguos pobladores de la Provincia de
                Barranca, fueron grandes pescadores, horticultores, y a través de los años, fueron mejorando la
                agricultura, ganadería, cerámica así como sus instrumentos de trabajo. Las ruinas de la ciudad Sagrada
                de Caral y el Áspero ubicados en los distritos de Supe y Supe Puerto son las principales fuentes
                históricas que sustentan estas afirmaciones.
            </p>
            <p>
                La ciudad Sagrada de Caral (entre los 3000 y 2000 años a.c.), es el asentamiento más destacado el valle
                de Supe, reúne edificios públicos con la característica plaza circular hundida, además de un conjunto de
                unidades domésticas. Por la extensión de los asentamientos y por la cantidad de trabajo invertida se
                hace evidente que ellos tenían un ordenamiento jerarquizado y que había una organización social
                unificada en el valle. Este patrón de distribución puede extenderse también a los valles de Pativilca,
                Fortaleza y Supe los cuales, al lado de Supe, debieron constituir el territorio base de formación del
                Estado prístino (PEACS).
            </p>
            <p>
                Respecto al sitio arqueológico Áspero, en los últimos años se han realizado estudios científicos
                arqueológicos que lo denominan como un asentamiento dedicado al acopio de los productos obtenidos del
                mar, en especial de peces como anchovetas, sardinas y moluscos, lo que le permitió integrar una red
                comercial con los pobladores del interior del valle, entre estos los de la Ciudad de Caral, de los que
                obtenían productos agrícolas, en particular la fibra de algodón, necesaria para la manufactura de las
                redes de pesca.
            </p>
            <p>
                Respecto a la denominación del nombre de Barranca a la provincia, El Cronista Pedro Cieza León, hace
                referencia a la Localidad de Barranca en su antiguo nombre Quechua “HUAMANMAYO”, que en castellano
                significa “Gavilán del Río”. Según versión del gobernador español Cristóbal Vaca de Castro en 1543, nos
                señala que la antigua Barranca estuvo situada entre los fundos de “El Potao” y el “El Molino” y que
                fueron los antiguos pobladores quienes bautizaron al territorio con el nombre de Barranca, probablemente
                por la existencias de numerosas barracas que descuelgan sobre las riberas del río situada entre los dos
                fundos.
            </p>
            <p>
                En la época pre hispánica, el territorio de la actual provincia fue área de influencia de muchas
                culturas a lo largo de su historia, desde el periodo lítico por la cultura Caral, Chavín, el imperio
                Wari, y del reino Chimú que se extendía desde la costa norte en Tumbes, hasta lo que hoy es el distrito
                de Paramonga. Entre los años 900 a 1 200 d.c., el dominio de la cultura Chancay abarcó los valles de
                Fortaleza, Pativilca, Supe, Huaura, Chancay y Chillón, emplazándose en valles con variados recursos
                agrícolas y terrenos irrigables que sirven hasta el presente a los pobladores modernos. El comercio fue
                una actividad muy importante que permitió conectar el valle de Chancay con el norte y el sur costeño,
                así como con la sierra.
            </p>
            <p>
                Fue el imperio inca al mando del inca Pachacútec organizó un poderoso ejército, con el objetivo de
                invadir por el sur con el fin de conquistar y someter a estos señoríos ubicados en lo que hoy es la
                provincia. Sometidos los pueblos del valle, bajo el dominio de los incas, estos pasaron a formar parte
                del imperio inca. Todo esto sucedió aproximadamente cincuenta o sesenta años antes de la llegada de los
                españoles al Perú, aproximadamente a fines del siglo XV e inicios del siglo XVI.F
            </p>
            <p>
                Respecto a la época de la colonia, luego de la invasión española, los pueblos naturales residentes en
                este territorio fueron sometidos, siendo obligados a tributar a la corona y coaccionada a un proceso de
                evangelización cristiana.
            </p>
            <p>
                En ese sentido, los territorios que conforman la provincia como Paramonga, Pativilca, el valle de Supe,
                en especial San Nicolás y su actividad agraria pasan a formar parte del sistema particular de hacienda
                española, siendo dedicados al cultivo de la caña de azúcar y comercialización de sus derivados. Otros
                productos fueron la chancaca, la manteca de cerdo, el cultivo de arroz y el pescado seco para su
                abastecimiento a la ciudad de Lima.
            </p>
            <p>
                En relación al reparto de solares de Lima en le siglo XVI, se menciona como dueño del repartimiento de
                Barranca más el territorio de la actual provincia de Huaura al conquistador don Antonio de Solar, las
                cuales fueron otorgadas por cédula de Pizarro; el encomendero es el mismo que en el año 1558 trae la
                primera yunta de bueyes, plantas de melón, granadas, níspero, cerezas, guindas y membrillos de la ciudad
                de Castilla (España).
            </p>
            <p>
                Según datos existentes, se sabe que el proceso de colonización se retardó un poco, sin embargo, fue
                posterior a la colonización realizada en los valles de Chancay, Huaura, Sayán y la sierra de la
                provincia. En ese sentido, el primer asiento fue “La Barranca”, el cual fue una floreciente población
                costanera que comprendió los poblados indígenas de Huamanmayo, Tambo Viejo, Hoyada, Arguay, Potao,
                Chinchín, Araya, Paycuán y Elvay.
            </p>
            <p>
                En 1581 Barranca contaba con 268 indios tributarios, quienes tenían que pagar 1 192 pesos y 4 tomines a
                la caja real de Lima, apunta el historiador Enrique Torres Saldamando. En 1602 Don Rodrigo Ampuero era
                el encomendero y protector de los naturales del pueblo de Barranca, que a su vez ejercía el cargo de
                corregidor y Justicia Mayor.
            </p>
            <p>
                Durante la época de la independencia, los pobladores de los tres valles de Supe, Barranca y Pativilca
                ofrecieron apoyo con el aprovisionamiento de agua y víveres; además de su adhesión al ejército del
                General Don José de San Martín, con su colaboración lograron que el 5 de abril de 1819 proclamaran su
                independencia, entre sus personales ilustres se encuentra Francisco Vidal.
            </p>
            <p>
                Luego de la época de la independencia, los valles de la provincia de Barranca con sus ingenios
                azucareros y vínculos con la ciudad de Lima, se vieron pronto influidos por dos tipos de cambios. Se
                paso a producir azúcar pero también algodón y otros cultivos menores y se modificó el rol económico en
                el área, multiplicándose los puertos y sus conexiones con las áreas aledañas de valles cercanos (Plan
                Maestro).
            </p>
            <p>
                Es importante también destacar el rol que cumplieron los ferrocarriles, uno de los principales medios de
                comunicación y transporte de la época, para el desarrollo económico del país y específicamente de las
                localidades de la costa que basaban su economía (entre otras actividades) en la producción y
                comercialización de la caña de azúcar y sus productos derivados. Los sistemas ferroviarios del norte de
                Lima estaban constituidos por: Supe - San Nicolás (5 km y 1 070 m de trocha), Pativilca - Paramonga (7,5
                km), Supe - Barranca - Pativilca (11 km) y Barranca - Alpas (27 km); estas redes fueron construidas
                entre 1899 y 1913 y a partir de 1928 quedaron empalmados con el ferrocarril del noroeste, sin embargo
                todos los ferrocarriles azucareros del norte de Lima en la actualidad han desaparecido.
            </p>
        </div>
    </div>
</div>