<div class="wrapper">
  <div class="wrapper-title">
      <span>!ACCESOS</span>
      <span>DIRECTOS!</span>
  </div>
  <div class="container-fluid wrapper-slider">
      <div class="col-sm-4 px-3">
        <div class="content-info text-center">

          <div class="items">
            <div class="content-icons">

              <h3><i class="bx bx-pulse"></i></h3>

                <div class="content-text">
                  <a href="#"><p>MESA DE PARTES VIRTUAL</p></a>
                </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-4 px-3">
        <div class="content-info text-center">

          <div class="items">
            <div class="content-icons">

              <h3><i class="bx bx-table"></i></h3>

                <div class="content-text">
                  <a href="#"><p>CONSULTA DE TRÁMITES</p></a>
                </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-4 px-3">
        <div class="content-info text-center">

          <div class="items">
            <div class="content-icons">

              <h3><i class="bx bx-money"></i></h3>

                <div class="content-text">
                  <a href="#"><p>CONSULTA DE DEUDA TRIBUTARIA</p></a>
                </div>

            </div>
          </div>

        </div>
      </div>
  </div>
</div>

