
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container d-flex justify-content-around ">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo_municipal.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link active" href="#"><i class='bx bxs-home me-2'></i>Inicio</a>
        </li>

        <li class="nav-item dropdown mx-2">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bxs-buildings me-2'></i>Ciudad
          </a>
          <div class="dropdown-menu ciudad" aria-labelledby="navbarDropdown">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav flex-column">
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-align-justify mx-2'></i>Misión</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-user mx-2'></i>Nuestro Alcanlde</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-group mx-2'></i>Consejo Municipalidad</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-briefcase mx-2'></i>Comisión de Regidores</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown mx-2">
          <a class="nav-link catogary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bxs-school me-2'></i>La Municipalidad
          </a>

            <div class="dropdown-menu municipalidad" aria-labelledby="navbarDropdown">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <ul class="nav flex-column">
                              <li class="nav-item"> <a class="nav-link">SOBRE EL MUNICIPIO</a> </li>
                              <li class="nav-item"> <a class="nav-link i active" href="#"><i class='bx bx-align-justify mx-2'></i>Misión</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-user mx-2'></i>Nuestro Alcanlde</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-group mx-2'></i>Consejo Municipalidad</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-briefcase mx-2'></i>Comisión de Regidores</a> </li>
                          </ul>
                      </div>
                      <div class="col-md-6">

                          <ul class="nav flex-column">
                              <li class="nav-item"> <a class="nav-link">ORGANIZACIÓN</a> </li>
                              <li class="nav-item"> <a class="nav-link i active" href="#"><i class='bx bx-sitemap mx-2'></i>Organigrama</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-body mx-2'></i>Funcionarios</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-phone mx-2'></i>Directorio Teléfonico y Correos</a> </li>
                              <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-file mx-2'></i>Documentos de Funcionarios</a> </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </li>

        <li class="nav-item dropdown mx-2">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bxs-bookmark me-2'></i>Publicaciones
          </a>
          <div class="dropdown-menu publicaciones" aria-labelledby="navbarDropdown">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav flex-column">
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-align-justify mx-2'></i>Misión</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bx-user mx-2'></i>Nuestro Alcanlde</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-group mx-2'></i>Consejo Municipalidad</a> </li>
                            <li class="nav-item"> <a class="nav-link i" href="#"><i class='bx bxs-briefcase mx-2'></i>Comisión de Regidores</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </li>

        <li class="nav-item mx-2">
          <a href="#" class="nav-link"><i class='bx bx-menu me-2'></i></a>
        </li>
      </ul>
      <a class="logo-portal" href="#">
        <img src="../assets/img/logo-portal-transparencia.png" alt="logo-portal-transparencia" class="logo-portal-transparencia">
      </a>
    </div>
  </div>
</nav>
