<div class="wrapper-himno">
    <app-header [title]="'himno de barranca'" [rute]="'Ciudad'"></app-header>
    <div class="section">
        <div class="section-header">
            <div class="section-title">
                <h2>HIMNO DE BARRANCA</h2>
            </div>
            <div class="section-audio">
                <audio controls>
                    <source src="./assets/resource/Himno.mp3" type="audio/mp3">
                    Tu navegador no soporta audio HTML5.
                </audio>
            </div>
        </div>
        <div class="section-content">
            <div class="text">
                <p>Teodoro Faustín Rosales Ramos, conocido cariñosamente con el apelativo de “El poeta de los Humildes”,
                    nació en la provincia de Barranca, el 29 de julio de 1926 en el barrio de Pampa de Lara. Es autor de
                    innumerables creaciones poéticas y composiciones musicales muchas de las cuales han sido y son
                    interpretadas por conocidos cantantes de música criolla del país. Sus poesías tienen la
                    característica
                    de despertar una profunda emoción por la fina sensibilidad de sus versos donde aflora su alma
                    solitaria
                    e inmensamente triste. A su tierra natal, le dedicaría buena parte de sus inspiraciones como el ya
                    oficial "Himno de Barranca", y su tema costumbrista "Mi lindo Chocoy", al barrio donde nació. Entre
                    sus
                    composiciones también figuran los conocidísimos temas “Y Dale U”, “Arriba Alianza”, “Sporting
                    Cristal”,
                    que entonan los equipos de fútbol en cada contienda. Tiene más de cincuenta composiciones
                    registrados en
                    la APDAYC, donde fue miembro activo, así como de la Casa del Poeta Peruano-filial Barranca, donde
                    fue
                    dirigente. El poeta falleció la mañana del 22 de marzo de 2008, cuando contaba 81 años de edad en su
                    humilde morada de su tierra natal.
                </p>
            </div>
            <div class="himno">
                <div class="mask"></div>
                <p>Con el alma rebosante de un cariño infinito y leal, orgulloso, placentero, con mi canto te voy a
                    besar, y en el mástil, de mi pecho cerca o lejos mi voz gritará Barranca, mi tierra eres paz y eres
                    luz en mi andar tu nombre Barranca, es la fuerza que me hace triunfar.</p>

                <p>Por lo noble de todo lo bueno y la gloria del dulce sentir amoroso mi acento sereno pide a Dios le
                    prolongue el vivir para hablarle a las patrias lejanas que la mía llamada Perú una reina entre mil
                    soberanas eres tu mi Barranca, eres tú.</p>

                <p>Paramonga, Pativilca, Supe Pueblo y su Puerto industrial, son historias, son riquezas, tus reflejos
                    de joya sin par, Fortaleza, Paramonga, noble cuna de acción y valor, y el héroe Bolívar, Pativilca
                    su amor le brindó por Supe, su suelo, Don Francisco Vidal se inmoló, por lo noble de todo lo
                    bueno.</p>
                
            </div>

        </div>
    </div>
</div>