<div class="wrapper">
  <div class="wrapper-title">
      <span>!SERVICIOS A LA</span>
      <span>COMUNIDAD!</span>
  </div>

  <div class="container-fluid py-4">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">

      <div class="col">
        <div class="p-3 border d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bxs-directions bx-tada' ></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">OBRAS PÚBLICAS</h3></a>
            <p>Conoce las obras que la municipalidad está ejecutando en nuestro distrito.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3 border  d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bxs-lock bx-tada' ></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">SEGURIDAD CIUDADANA</h3></a>
            <p>Sigue las acciones implementadas por el Comité Distrital de Seguridad Ciudadana.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3 border d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bxs-car bx-tada'></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">TRANSPORTE PÚBLICO</h3></a>
            <p>Conozca las acciones orientadas a ordenar el transporte en nuestras calles.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3 border d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bx-walk bx-tada' ></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">DESARROLLO HUMANO</h3></a>
            <p>Conoce las actividades en educación, cultura, deporte y turismo del distrito.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3 border d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bx-bus bx-tada'></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">SERVICIOS PÚBLICOS</h3></a>
            <p>Conoce los servicios de limpieza, salud y medio ambiente en nuestro distrito.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3 border d-flex align-items-center">
          <div class="img-servicios mx-2">
            <i class='bx bx-vector bx-tada' ></i>
          </div>
          <div class="text-servicios">
            <a href="#"><h3 class="my-1">REGISTRO CIVIL</h3></a>
            <p>Conoce los trámites a realizar en nuestra oficina de Registro Civil.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
