<div class="wrapper">
    <div class="wrapper-header">
        <span>¡INFORMACION </span>
        <span>ADICIONAL!</span>
    </div>
    <div class="section">
        <div class="section-right">
            <div class="item-impar">
                <img src="http://www.munibarranca.gob.pe/mpb/images/2020/01/21/encuesta.png" alt="">
                <span>Sistema de Control Interno</span>
            </div>
            <div class="item-par">
                <img src="http://www.munibarranca.gob.pe/mpb/images/2020/01/21/profesor-1.png" alt="">
                <span>Presupuesto Participativo 2020</span>
            </div>
            <div class="item-impar">
                <img src="http://www.munibarranca.gob.pe/mpb/images/2020/01/21/reportar.png" alt="">
                <span>Sitema Nacional de Programacion Multianual</span>
            </div>
            <div class="item-par">
                <img src="http://www.munibarranca.gob.pe/mpb/images/2020/01/21/carpeta.png" alt="">
                <span>Plan de Desarrollo Local Concertado</span>
            </div>
        </div>
        <div class="section-left">
            <div class="item-1 item">
                <img src="http://www.munibarranca.gob.pe/mpb/images/banners/predio.png" alt="">
                <span>CONSULTA DE PREDIOS</span>
            </div>
            <div class="item-2 item">
                <img src="http://www.munibarranca.gob.pe/mpb/images/banners/local.png" alt="">
                <span>LICENCIAS DE FUNCIONAMIENTO</span>
            </div>
            <div class="item-3 item">
                <img src="http://www.munibarranca.gob.pe/mpb/images/banners/casarse.png" alt="">
                <span>INFORMACION MATRIMONIAL</span>
            </div>
            <div class="item-4 item">
                <img src="http://www.munibarranca.gob.pe/mpb/images/banners/personal.png" alt="">
                <span>CONVOCATORIA DE PERSONAL</span>
            </div>
        </div>
    </div>
</div>