<div class="wrapper">
  <div class="wrapper-title">
      <span>!PROGRAMAS</span>
      <span>SOCIALES!</span>
  </div>

  <div class="container-fluid">
    <div class="row row-cols-2 row-cols-lg-8 g-2 g-lg-1">
      <div class="col">
        <div class="border d-flex align-items-center text-light color-content-a">
          <div class="img-sociales">
            <a href="#"><img src="../assets/img/demuna.jpg" alt="demuna"></a>
          </div>
          <div class="text-sociales">
            <a href="#"><h2>DEMUNA</h2></a>
            <p>La Defensoría Municipal del Niño y Adolescente es la oficina encargada de proteger y promover los derechos del niño y del adolescente.</p>
            <a href="#">INGRESAR</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="border d-flex align-items-center text-light color-content-b">
          <div class="img-sociales">
            <a href="#"><img src="../assets/img/pension65.jpg" alt="pensionista"></a>
          </div>
          <div class="text-sociales">
            <a href="#"><h2>PENSIÓN 65</h2></a>
            <p>El Programa Pensión 65 protege a los adultos mayores en condición de pobreza extrema con una subvención económica de manera bimestral.</p>
            <a href="#">INGRESAR</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="border d-flex align-items-center text-light color-content-c">
          <div class="img-sociales">
            <a href="#"><img src="../assets/img/ciam.jpg" alt="diam"></a>
          </div>
          <div class="text-sociales">
            <a href="#"><h2>CIAM</h2></a>
            <p>El Centro Integral de Atención a la Persona Adulta Mayor presta servicios para el bienestar y promoción social de los adultos mayores.</p>
            <a href="#">INGRESAR</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="border d-flex align-items-center text-light color-content-d">
          <div class="img-sociales">
            <a href="#"><img src="../assets/img/omaped.jpg" alt="omaped"></a>
          </div>
          <div class="text-sociales">
            <a href="#"><h2>OMAPED</h2></a>
            <p>La Oficina Municipal de Atención a la Persona con Discapacidad ofrece diversos servicios a los vecinos en situación de discapacidad.</p>
            <a href="#">INGRESAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
